<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5>Add a car</h5></div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="form-group">
                        <div class="mb-3"></div>
                        <label>
                            <h6>Description</h6>
                        </label>
                        <input type="text" id="description" formControlName="description" class="form-control"
                            placeholder="Car description" />
                    </div>
                    <div class="form-group">
                        <div class="mb-3"></div>
                        <label>
                            <h6>Brand</h6>
                        </label>
                        <input type="number" id="brandId" formControlName="brandId" class="form-control"
                            placeholder="Brand" />
                    </div>
                    <div class="form-group">
                        <div class="mb-3"></div>
                        <label>
                            <h6>Color</h6>
                        </label>
                        <input type="number" id="colorId" formControlName="colorId" class="form-control"
                            placeholder="Color" />
                    </div>
                    <div class="form-group">
                        <div class="mb-3"></div>
                        <label>
                            <h6>Model year</h6>
                        </label>
                        <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                            placeholder="Model year" />
                    </div>
                    <div class="form-group">
                        <div class="mb-3"></div>
                        <label>
                            <h6>Daily price</h6>
                        </label>
                        <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                            placeholder="Daily price" />
                    </div>
                    <div>
                        <div class="mb-3"></div>
                        <a class="btn btn-primary" (click)="add()">Submit</a>
                    </div>

                </form>
            </div>
            
        </div>
    </div>
</div>